.moviesList{
    display: block;
    width: 50%;
    height: 70vh;
    border-radius: 20px;
    background-color: #290a46;
    padding: 14px 28px;
    text-align: center;
    margin: 50px;
    list-style-type:none;
}