section {
  padding: 10px;
  background-color: white;
  margin: 20px;
  padding-top: 1px;
  padding-bottom: 2px;
  border-radius: 10px;
  display:block;
  text-align: center;
}
section button {
  display: block;
  width: 20%;
  height: 10vh;
  border-radius: 50px;
  background-color: #290a46;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 50px;
}
