

.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  position: relative;

}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
  border-radius: 10px ;
}
.input textarea {
  resize: none;
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
  border-radius: 10px ;
  width:100%;
  height:50vh;
}

.input input:focus {
  outline: none;
  border-color: #4f005f;
}
button {
  font: inherit;
  border: 1px solid #4f005f;
  background: #4f005f;
  color: white;
  padding: 1rem 3rem;
  cursor: pointer;
  border-radius: 40px;
  justify-content: center;
}

button:hover,
button:active {
  background: #741188;
  border-color: #741188;
}

button:focus {
  outline: none;
}