section {
  padding: 10px;
  background-color: white;
  margin: 40px;
  padding: 10px;
  border-radius: 10px;
  display:block;
    text-align: center;
}
section button {
  display: block;
  width: 20%;
  height: 15vh;
  border-radius: 50px;
  background-color: #290a46;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 50px;
}
